    /* Document */
    * {
        margin: 0px;
        padding: 0;
        box-sizing: border-box;
    }

    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }

    body {
        display: grid;
        height: 100vh;
        grid-template: auto 1fr auto / 950px 1fr auto;
    }

    /* Header */

    header {
        background: brown;
        grid-column: 1 / 4;
        padding-left: 1rem;
        color: white;
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        text-align: center;
    }

    h1 {
        padding-top: 100px;
        padding-left: 100px;
        padding-right: 70px;
        padding-bottom: 75px;
        margin-right: -230px;
        font-size: 60px;
        font-family: cursive;
        margin-top: 30px;
    }

    .h2 {
        padding-top: 10px;
        padding-left: 650px;
        padding-right: 70px;
        padding-bottom: 10px;
        margin-right: 430px;
        margin-top: 50px;
        margin-left: -600px;
        font-size: 13px;
        font-family: cursive;
    }

    .paragraph {
        font-size: 13px;
        margin-left: -570px;
        margin-top: 30px;
    }

    nav {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin-left: -600px;
    }

    nav a {
        display: none;
        text-align: center;
        text-decoration: none;
        color: white;
        padding: 30px 20px;
        text-align: center;
        text-decoration: none;
        font-family: "Roboto", sans-serif;
        font-weight: 900;
    }

    nav a:hover {
        text-decoration: underline;
        text-decoration-color: white;
    }

    .image {
        border-radius: 30px;
        margin-left: -800px;
        margin-top: -120px;
        width: 110px;
        height: 80px;
        margin-bottom: 110px;
    }

    /* Footer */

    footer {
        background: brown;
        padding-top: 70px;
        text-align: center;
        grid-column: 1 / 4;
        padding-bottom: 70px;
        color: white;
        font-weight: 900;
        font-size: 22px;
        padding-left: 900px;
        margin-top: 100px;
        margin-left: -400px;
    }

    .paragraph1 {
        margin-left: -1100px;
        font-size: 16px;
    }

    .paragraph2 {
        margin-left: 900px;
        font-size: 16px;
    }

    .paracontainer {
        margin-top: 50px;
        margin-left: -2000px;
    }

    .paraform {
        margin-top: -100px;
    }

    /* Social Media */

    .social {
        margin-left: -150px;
    }

    .socialcontainer {
        margin-top: 150px;
        margin-left: -970px;
    }

    #menu {
        font-size: 1.5rem;
        border: 0;
        background: none;
        color: white;
        position: absolute;
        top: 1rem;
        right: 2rem;
    }

    #menu::before {
        content: "☰";
    }

    #menu.open::before {
        content: "❌";
    }

    .open a {
        display: block;
    }

    .hero {
        padding: 0px;
        margin: 0px;
    }

    /* large view navigation ************************************/
    @media (min-width: 37.2em) {

        /* Document */
        * {
            margin: 0px;
            padding: 0;
            box-sizing: border-box;
        }

        html,
        body {
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
            overflow-x: hidden;
        }

        body {
            display: grid;
            height: 100vh;
            grid-template: auto 1fr auto / 950px 1fr auto;
        }

        /* Header */

        header {
            background: brown;
            grid-column: 1 / 4;
            padding-left: 1rem;
            color: white;
            font-family: "Roboto", sans-serif;
            font-weight: 100;
            text-align: center;
        }

        h1 {
            padding-top: 100px;
            padding-left: 100px;
            padding-right: 70px;
            padding-bottom: 75px;
            margin-right: -230px;
            font-size: 60px;
            font-family: cursive;
            margin-top: 30px;
        }

        .h2 {
            padding-top: 10px;
            padding-left: 700px;
            padding-right: 70px;
            padding-bottom: 10px;
            margin-right: 530px;
            margin-top: 50px;
            margin-left: -500px;
            font-size: 30px;
            font-family: cursive;
        }

        .paragraph {
            font-size: 20px;
            margin-left: -430px;
        }

        nav {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: -190px;
            margin-left: 1000px;
            font-size: 22px;
            padding-bottom: 35px;
        }

        nav a {
            color: white;
            padding: 30px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-family: "Roboto", sans-serif;
            font-weight: 900;
        }

        nav a:hover {
            text-decoration: underline;
            text-decoration-color: white;
        }

        .image {
            border-radius: 30px;
            margin-left: -1200px;
            margin-top: -110px;
            width: 190px;
            height: 140px;
        }

        /* Footer */

        footer {
            background: brown;
            padding-top: 70px;
            text-align: center;
            grid-column: 1 / 4;
            padding-bottom: 100px;
            padding-top: 100px;
            color: white;
            margin-bottom: -200px;
            font-weight: 900;
            font-size: 22px;
            padding-left: 500px;
            margin-top: 300px;
            margin-left: -400px;
        }

        .paragraph1 {
            margin-left: -1100px;
            font-size: 16px;
        }

        .paragraph2 {
            margin-left: 900px;
            font-size: 16px;
        }

        .paracontainer {
            margin-top: -45px;
            margin-left: -60px;
        }

        .paraform {
            margin-top: -100px;
        }

        /* Social Media */

        .social {
            margin-left: -150px;
        }

        .socialcontainer {
            margin-top: 30px;
            margin-left: 70px;
        }

        #menu {
            display: none;
            /* hide hamburger button */
        }

        #menu::before {
            content: "☰";
        }

        #menu.open::before {
            content: "❌";
        }

        .open a {
            display: block;
        }

        .hero {
            width: 220%;
            height: 31%;
        }

        .home {
            font-size: 35px;
            margin-left: 30px;
            margin-top: 60px;
            margin-bottom: 50px;
            font-weight: bold;
        }

        .grid {
            display: grid;
            grid-template-columns: auto auto auto;
        }

        .card {
            border-radius: 8px;
            border: 1px solid black;
            text-align: center;
            padding-bottom: 785px;
            padding: 1rem;
            text-align: center;
            margin-right: 120px;
            margin-bottom: 100px;
            padding-bottom: 500px;
            padding-right: 230px;
            padding-left: 0px;
            margin-left: 30px;
        }

        #description {
            text-transform: capitalize;
        }



        .headback {
            background: brown;
            padding-bottom: 50px;
            border-radius: 8px;
            text-align: left;
            padding-top: 20px;
            margin-right: 121px;
            padding-right: 10px;
            margin-left: 30px;
            margin-top: -617px;
            color: white;
            font-size: 25px;
            font-weight: bold;
        }

        .headback1 {
            background: brown;
            padding-bottom: 50px;
            border-radius: 8px;
            text-align: left;
            padding-top: 50px;
            margin-right: 121px;
            padding-right: 10px;
            margin-left: 30px;
            margin-top: -617px;
            color: white;
            font-size: 25px;
            font-weight: bold;
        }

        .headback2 {
            background: brown;
            padding-bottom: 50px;
            border-radius: 8px;
            text-align: left;
            padding-top: 50px;
            margin-right: 121px;
            padding-right: 10px;
            margin-left: 30px;
            margin-top: -617px;
            color: white;
            font-size: 25px;
            font-weight: bold;
        }

        .paragraph3 {
            padding-left: 60px;
            padding-top: 40px;
        }

        .grid1 {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-content: center;
            height: 0px;
            width: 0px;
            column-gap: 100px;
            margin-left: 240px;
            margin-bottom: 800px;
            margin-top: -100px;
        }

        section {
            border: 2px solid #ccc;
            border-radius: 20px;
            width: 450px;
            padding: 10px 5px 10px 5px;
            margin: 20px;
            text-align: center;
            line-height: 25px;
            background-color: whitesmoke;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        }

        .adjustment {
            margin-left: 600px;
            margin-top: 300px;
            margin-bottom: 500px;
        }

        .paragraph4 {
            font-size: 20px;
            margin-left: 60px;
            margin-top: 60px;
            line-height: 2.8;
        }

        .paragraph5 {
            font-size: 20px;
            margin-left: 70px;
            margin-top: 20px;
            line-height: 1.8;
        }

        li {
            margin-left: 70px;
            margin-top: 40px;
        }

                #menu {
                    display: none;
                    /* hide hamburger button */
                }
        
                #menu::before {
                    content: "☰";
                }
        
                #menu.open::before {
                    content: "❌";
                }
        
                .open a {
                    display: block;
                }
    }